<h1 id="page_title">Message Boards</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @conversations.each do |conversation| %>
  <tr>
    <td><%= link_to conversation.title, conversation %></td>
  </tr>
<% end %>
</table>



<%= link_to 'New Conversation', new_conversation_path %>
